<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css?v=05a23585d4e3a82bbcda36dc4fb9cc06bef268f3">
    <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Austin Mayes</title>
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1>Austin Mayes</h1>
          <h2>Audio | Lighting | IT</h2>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>
        <footer>
          Follow me on <a href="https://twitter.com/AustinLMayes">Twitter</a> and <a href="https://instagram.com/AustinLMayes">Instagram</a>.
          <br>
          Connect with me on <a href="https://www.linkedin.com/in/austinlmayes/">LinkedIn</a>.
        </footer>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
  </body>
</html>
